  <%- include('./partials/head'); %>

  <body>
    <%- include('./partials/header'); %>
        <%- include('./partials/banner-plenaria.ejs') %> 

    <p><h1 class= "h1-plenaria">PLENÁRIA</h1></p>
    <br><br>

  <main class='content'>
    <div class="destaque-plenaria"> 
      <div class = "imagem">
        <img src="img/home-evento-destaque.png">
      </div>   
      <div class="dados-do-palestrante">
        <h2 class= "h2-title">Repensando e Reposicionando sua Marca </h2> 
          <p class="item">Nome do Palestrante</p>
          <p class="item">Cargo do Palestrante</p>
          <p class="item">Empresa do Palestrante</p>
          <p><a href="/plenaria"><button  class= "acessar" type= >Acessar Palestra</button></a></p> 
          <p><a href="#"><button  class="agenda" type=>Agenda da Sala</button></a></p>  
          <span class="participantes-plenaria"><img src='img/people-icon.png'> 28 participantes na sala </span>      
      </div>
    </div>
<br><br>

    <p><h1 class= "h1-trilha">TRILHA</h1>
<h1 class= "h1-trilha">INTERNACIONAL</h1></p>

<br><br>

    <div class="destaque-trilha"> 
      <div class="imagem">
        <img src="img/international.png">
    </div>
    <div class="dados-do-palestrante trilha">
      <h2 class="h2-title-trilha">Automated and Humanized Service</h2>
        <p class="item">Nome do Palestrante</p>
        <p class="item">Cargo do Palestrante</p>
        <p class="item">Empresa do Palestrante</p>
        <p><a href="/trilha"><button  class= "acessar" type= >Acessar Palestra</button></a></p> 
        <p><a href="#"><button  class="agenda" type=>Agenda da Sala</button></a></p>   
        <span class="participantes"> <img src='img/people-icon.png'> 13 participantes na sala <span>
    </div>         
</div>
        
    <div class="salao">       
    <br><br>
      <p><h1 class="h1-salao"> SALÃO DE NEGÓCIOS </h1></p>
        <p class= "texto-salao">Encontre parceiros que podem ajudar a alavancar os resultados de sua empresa aqui.</p>
      <p>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
      </p>
      <p>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
        <a href="#"><img class= "icons-company" src="img/icon-company-single.svg" alt=""></a>
      </p>
</div>       
</main>
 </body>
    <%- include('./partials/footer'); %>
   