<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  <body>
    <%- include('./partials/header'); %>

    <nav class= "banner">

    </nav>

    <div class="plenaria"> 
        <h1>Plenária</h1>
        <h2>Repensando e Reposicionando a sua marca </h2>
        <p>nome do palestrante</p>
        <p>cargo do palestrante</p>
        <p>empresa do palestrante</p>
        <button>Acessar Palestra</button> 
        <button>Agenda da sala</button>     
        <span class=" participantes"> Participantes</span>

        <h1>Trilha internacional</h1>
        <h1> Salão de Negócios</h1>
        <p>encontre parceiros que podem alavancar o seu negócio</p>

    </div>


    <%- include('./partials/footer'); %>
    </html>