<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  <body>
    <%- include('./partials/header'); %>

    <nav class= "banner-forum"> </nav>

    <main class='content'>

    <div class="destaque-plenaria"> 

        <h1 class= "h1-Plenaria">Plenária</h1>
          <img src="img/home-evento-destaque.png">

            <h2 class= "h2-title">Repensando e Reposicionando sua Marca </h2>

          <div class="dados-do-palestrante">
              <p>Nome do Palestrante</p>
              <p>Cargo do Palestrante</p>
              <p>Empresa do Palestrante</p>
          </div>

          <div>
            <button type= >Acessar Palestra</button> 
            <button type=>Agenda da Sala</button>    
          </div>

        <span class="participantes"> <img src='img/people-icon.png'> 28 participantes na sala </span>
</div>

<div class="destaque-trilha"> 
        <h1>Trilha internacional</h1>
          <img src="img/international.png">

        <h2 class="h2-title-trilha">Automated and Humanized Service</h2>

          <div class="dados-do-palestrante-2">
              <p>Nome do Palestrante</p>
              <p>Cargo do Palestrante</p>
              <p>Empresa do Palestrante</p>
            </div>

          <div>
            <button type= >Acessar Palestra</button> 
            <button type=>Agenda da Sala</button>    
          </div>   

        <span class="participantes"> <img src='img/people-icon.png'> 13 participantes na sala </span>
  </div>

<div>       <h1> Salão de Negócios</h1>
        <p>Encontre parceiros qu e podem ajudar a alavancar os resultados de sua empresa aqui.</p>
</div>       
</main>
 </body>

    <%- include('./partials/footer'); %>
    </html>