<%- include('./partials/head.ejs') %> 

<%- include('./partials/header.ejs') %> 

<%- include('./partials/banner-plenaria.ejs') %> 

<div class="container main-plenaria">

    <h1>Plenária</h1>

    <div class="plenaria-info">
        <div class="plenaria-resumo">
            <h2>Repensando e Reposicionando sua Marca</h2>
            <p>Nome do palestrante</p>
            <p>Cargo do Palestrante</p>
            <p>Empresa do Palestrante</p>
        </div>
        <div class="plenaria-botoes">
            <button>Agenda da Sala</button>
            <div class="plenaria-espectadores">
                <img src="img/pessoas-online.jpg" alt="">
                <p>28 espectadores na sala</p>
            </div>
           
        </div>
        
    </div>

    <div class="plenaria-videos">
        <img src="img/video-plenaria.png" alt="">
        <img src="img/plenaria-chat.jpg" alt="">
    </div>

</div>

<%- include('./partials/footer.ejs')  %> 