<%- include('./partials/head'); %>

<body>
  <%- include('./partials/header'); %>

 <section class="conteudo">

<h1 class="quem-somos">Quem Somos</h1>

    <main class="text-1">
        <div class="container">
            <div class="row">
                <div class="text-justify">
                <p>2020 definitivamente não foi um ano fácil em meio à pandemia, nos vimos obrigados deixar o mundo real de lado e viver através do mundo virtual. Com isso, o network, a troca de experiência e o aperto de mão tão tradicional no mundo corporativo acabou ficando de lado. Por isso, a weGether nasceu.

                    O universo dos eventos amargou a pior crise das duas últimas décadas em 2020. Pensando em mudar este cenário que tanto favorece o crescimento profissional, a troca de experiências e ajuda a pessoas a impulsionarem as suas carreiras  a weGether nasceu para mudar o rumo da história.</p>   
                    
                    <p>Uma plataforma única, que oferece às empresas e usuários uma experiência completa de um evento real no mundo virtual. Proporcionando  troca e relacionamento entre os participantes com um custo-benefício extremamente vantajoso. 
                    
                    Integrado com as melhores ferramentas de streaming disponíveis no Brasil, a weGether vai fazer e acontecer para o seu negócio e para o seu evento.</p>  
                </div>   
            </div>
        </div>
    </main>
</section>

<br><br><br><br><br><br><br><br><br><br><br>
</body>
<%- include('./partials/footer'); %>