<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  <body>
    <%- include('./partials/header'); %>

    <div class="security">
      <%- include('./partials/menu.ejs') %>

      <div class="change-pass">
        <h1 class="title">Segurança</h1>
        <form class="password" action="">
          <div class="new">
            <label for="new pass" class="new-pass">Alterar Senha:</label>
            <input type="text" class="input-pass" name="new pass" />
          </div>
          <button class="save-pass" type="submit">Salvar Alterações</button>
        </form>
      </div>
    </div>
  </body>

  <%- include('./partials/footer'); %>
</html>
