<div class=" container banner-plenaria">
    <img src="img/logoEvento.jpg" alt="">
    <div class="plenaria-links">
        <a href="">Plenária</a>
        <a href="">Trilha Internacional</a>
        <a href="">Salão de negócios</a>
        <a href="">Sobre o Evento</a>
        <a href="">Fale Conosco</a>
    </div>
</div>