<footer class='footer'>

    <nav class='container'>
      <nav class="site-map">
        <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/quem-somos">Quem Somos</a></li>
        <li><a href="#">Fale Conosco</a></li>
    </ul>  

    </nav>
    
      <nav class="icons">

  
          <ul> 
             <li class ="facebook"> <a href="https://www.facebook.com/"> <img src="img/fb.svg" alt="Facebook"></a> </li>
             <li class="linkedin"> <a href="https://www.linkedin.com/"><img src="img/in.svg" alt="LinkedIn"></a> </li>
             <li class="twitter"> <a href="https://www.twitter.com/"><img src="img/tt.svg" alt="Twitter"> </a> </li>
             <li class="youtube"> <a href="https://www.youtube.com/"><img src="img/yt.svg" alt="Youtube"></a> </li>
             <li class="instagram"><a href="https://www.instagram.com/"><img src="img/ig.svg" alt="Instagram"></a></li> 
          
          </ul>

        </nav>
      </nav>
        <hr></hr>

        <div class="text-white">©2020 weGether</div>
    
  
</footer>
