<footer class="footer">
    <div class = "site-map">
        <i class="home">Home</i>
        <i class="quem-somos">Quem Somos</i>
        <i class="fale-conosco">Fale Conosco</i>
    </div>
    <div class="icons">
      <i class="facebook"><img src='../public/img/fb.svg'></i>
      <i class="linkedin"><img src='./public/img/in.svg'></i>
      <i class="twitter"><img src='./public/img/tt.svg'></i>
      <i class="youtube"><img src='./public/img/yt.svg'></i>
      <i class="instagram"><img src='./public/img/ig.svg'></i>
    </div>
    <div class="text-white">
    ©2020 weGether
    </div>
  </footer>