<header>
    <img src="img/Logo-weGether.jpg">
    <div class="cabecalho">
        <a href="#" >Home</a>
        <a href="#">Acessar eventos</a>
        <a href="#">Hospedar eventos</a>
        <a href="#">Comprar ingressos</a>
        <a href="#">Calendário</a>
        <a href="#">Quem somos</a>
    </div>
    <div class="cabecalho-botoes">
        <button>Inscreva-se</button>
        <button>Login</button>
    </div>
</header>