<nav class="navbar navbar-expand-lg navbar-light bg-light header justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="/img/Logo-weGether.jpg" alt="" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item text-center header-a">
          <a class="nav-link header-itens" href="/">Home</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link header-itens" href="/home-do-evento">Acessar Eventos</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link header-itens" href="#">Comprar Ingressos</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link header-itens" href="#">Calendário</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link header-itens" href="/quem-somos">Quem Somos</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto header-buttons">
          <li class="nav-item text-center">
            <a class="nav-link home-button" href="/cadastro">Inscreva-se</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link home-button" href="/login">Login</a>
          </li>
      </ul>
    </div>
  </nav>