<header>
    <img src="img/Logo-weGether.jpg">
    <div class="cabecalho">
        <a href="/" >Home</a>
        <a href="/home-do-evento">Acessar eventos</a>
        <a href="#">Hospedar eventos</a>
        <a href="#">Comprar ingressos</a>
        <a href="#">Calendário</a>
        <a href="/quem-somos">Quem somos</a>
    </div>
    <div class="cabecalho-botoes">
        <button>Inscreva-se</button>
        <a href="/login"><button>Login</button></a>
    </div>
</header>