<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush usuario-menu">
                <li class="list-group-item">
                    <a href="dados-pessoais">
                        <i class="Dados Pessoais"><img src='/img/user.svg'></i>
                        Dados Pessoais
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/meus-eventos">
                        <i class="Calendario"><img src='/img/calendario.svg'></i>
                        Meus Eventos
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/seguranca">
                        <i class="Lock"><img src='/img/cadeado.svg'></i>
                        Segurança
                    </a>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-danger">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</div>