<div class="menu-dados-pessoais">
    <ul>
        <li class="menu-itens">
            <img src="img/icone-dados-pessoais.jpg" alt="">
            <a href='#'>Dados Pessoais</a>
        </li>
        <li class="menu-itens">
            <img src="img/icone-meus-eventos.jpg" alt="">
            <a href='#'>Meus Eventos</a>
        </li>
        <li class="menu-itens">
            <img src="img/icone-seguranca.jpg" alt="">
            <a href='#'>Segurança</a>
        </li>
        <li class="menu-itens">
            <button type="button">Logout</button>
        </li>
    </ul>
</div>